
//----Other Pages----//

.archive, .search {
  #primary {
    header {
      border-bottom: none;
      h1.page-title {
        margin-left: 20px;
        .font2;
        display: inline-block;
        color: @site-color;
      }
      .taxonomy-description {
        margin: 10px 0;
      }
    }
    i {
      font-size: 28px;
      display: block;
      text-align: center;
      position: relative;
      color: lighten(@color2, 10%);
      @media screen and (max-width: 768px ) {
        display: none;
      }
    }
  }
}