.font1 {
  font-family: 'Cabin', sans-serif;
}

.font2 {
  font-family: 'Oswald', sans-serif;
}

.transform(@value) {
  transform: @value;
  -webkit-transform: @value;
  -moz-transform: @value;
  -o-transform: @value;
  -ms-transform: @value;
}

//----Body----//

body {
  .font1;
  line-height: 2em;
  letter-spacing: .05em;
}

a {
  transition: all ease .1s;
  &:hover {
    text-decoration: none;
  }
  &:visited, &:active {
    color: black;
  }
}

#content {
  #primary {
    margin: auto;
  }
}

#page {
  overflow-x: hidden;
}

body:not(.blog) {
  #social-icons {
    font-size: 23px;
    padding: 15px 0;
    text-align: center;
    position: relative;
    i {
      border: solid 4px transparent;
      color: @color2;
      margin: 10px;
      &:before {
        pointer-events: none;
      }
    }
  }
}

.section-title {
  display: block;
  text-align: center;
  .font2;
  font-weight: 700;
  color: black;
  font-size: 36px;
  margin: 50px auto;
  padding: 0;
}


section.widget_at_featured {
  overflow: auto;
}